---
import Layout from '@layouts/Base.astro';
import { Header } from '@components/astro';

export const prerender = true;

const title = 'О предприятии';
const description = 'О предприятии АО Научно-Исследовательский Центр «Строительная экспертиза»';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  {description}>
  <Header {title} />

  <main class='frame readable'>
    <p>
      АО <strong>Научно-исследовательский центр «Строительная экспертиза»</strong> является одним из
      лидеров на строительном рынке России в области консалтинга, лабораторного сопровождения строительства,
      а также обследования зданий и сооружений промышленного и гражданского назначения.
    </p>
    <p>
      <b>Научно-исследовательский центр «Строительная экспертиза»</b> создан на базе научной лаборатории
      «Технологического проектирования и обследования зданий и сооружений» Московского Государственного
      Строительного Университета (МГСУ-МИСИ). Кроме того, немаловажную роль в развитии направления технологического
      контроля в <b>НИЦ «Строительная экспертиза»</b>, сыграли сотрудники крупнейшего научного
      института ЦНИИОМТП.
    </p>
    <p>
      Сегодня <em>Научно-исследовательский центр «Строительная экспертиза»</em> – стабильная, динамично
      развивающаяся компания, способная выполнять крупномасштабные и уникальные проекты не только в Москве,
      но и в регионах.
    </p>
    <p>
      Основная цель нашей компании — постоянное увеличение выполняемых объемов и перечня услуг,
      отвечающих всем Российским и зарубежным стандартам качества, современным строительным нормам и
      потребностям общества, сохраняя конкурентную стоимость.
    </p>
    <p>
      Принцип нашей компании — стремление достичь новых уровней технического и делового развития.
      Мобильность и маневренность человеческих и технологических ресурсов, а также гибкая финансовая
      система позволяет выполнять работы высокой сложности, оперативно решать возникающие
      производственные вопросы, выполняя работы высокого качества в установленный срок, но стоимость
      строительной экспертизы при этом остаётся адекватной.
    </p>
    <p>
      Возможность привлечения профессионалов высочайшего уровня из сотрудников МГСУ, ЦНИИОМТП,
      ЦНИИПромзданий, НИИЖБ им А.А Гвоздева, ЦНИСК им В.А. Кучеренко, НИОСП им. Н.М. Герсеванова, а
      также молодых перспективных инженеров-выпускников и аспирантов Московского Государственного
      Строительного Университета, дает нам возможность постоянно развиваться и открывать новые
      направления деятельности.
    </p>
  </main>
</Layout>
