---
// import { BindCarouselData, BindLightboxData } from '@lib/astro';
import Layout from '@layouts/Base.astro';
import { Header } from '@components/astro';

const title = 'Судебная экспертиза';
const description = 'Судебная экспертиза';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${description} • АО НИЦ «Строительная Экспертиза»`}>
  <Header {title} />

  <main
    class='frame'
    itemprop='mainContentOfPage'>
  </main>
</Layout>
