---
import { twMerge } from '../../tailwind/tailwind-merge.js';
import type { HTMLAttributes } from 'astro/types';

type Props = Omit<HTMLAttributes<'button'>, 'class'> & {
  class?: ClassValue;
  icon?: ClassValue;
  label?: string;
};

const { class: className, icon, label, ...props } = Astro.props;
---

<button
  class={twMerge(className)}
  aria-label={Astro.slots.has('default') || icon ? label : undefined}
  {...props}>
  <slot name='before' />
  <slot>
    {
      icon ? (
        <span
          class={twMerge('bg-only bold', icon)}
          set:html={label}
        />
      ) : (
        <Fragment set:html={label} />
      )
    }
  </slot>
  <slot name='after' />
</button>
