---
import { twMerge } from '@daks.dev/astro.sdk';
import { NavbarDropdown, Link } from '@daks.dev/astro.sdk/astro';
import type { HTMLAttributes } from 'astro/types';
import type { NavItem } from '@daks.dev/astro.sdk';

interface Props extends Omit<HTMLAttributes<'div'>, 'class' | 'aria-owns'> {
  items: NavItem[];
  class?: ClassValue;
  custom?: Record<string, ClassValue>;
}

const { items, class: className, custom = {}, ...props } = Astro.props;
---

<slot name='before' />
<div
  id='app-navbar-menu'
  class:list={[
    'max-bp:inert:hidden',
    'top-(--navbar-height) max-h--screen-navbar bp:contents absolute inset-x-0',
    'overflow-y-auto',
    'shadow shadow-neutral-400 dark:shadow-neutral-900'
  ]}
  inert
  aria-owns='app-navbar-menu-toggle'>
  <nav
    role='menu'
    class={twMerge(
      'relative',
      'max-bp:flex-col bp:gap-x-4 flex',
      'max-bp:py-2',
      'bp:leading-none text-base/relaxed font-normal',
      'max-bp:bg-theme-frame',
      custom.menu,
      className
    )}
    {...props}>
    {
      items.map(({ class: className, ...item }) => {
        item.role ??= 'menuitem';
        item.itemprop ??= item.href && 'relatedLink';
        return item.items ? (
          <NavbarDropdown
            toggle={item}
            class:list={['inner', className]}
            custom={{
              frame: 'bp:flex bp:items-center',
              drop: [
                'text-sm',
                'max-bp:indent-6',
                'bp:mt-3 bp:py-2',
                'bp:leading-relaxed',
                'bp:rounded bp:bg-theme-inner',
                'bp:shadow bp:shadow-neutral-300 bp:hover:shadow-md bp:dark:shadow-neutral-900'
              ],
              caret: ['iconify ph--caret-left-bold', 'group-aria-expanded:-rotate-90']
            }}>
            {item.items?.map((x) => {
              const {
                class: className,
                role = 'menuitem',
                itemprop = 'relatedLink',
                base = item.href?.toString(),
                ...link
              } = x;
              return (
                <Link
                  class:list={['bp:flex items-center', custom.item, custom.link, className]}
                  {role}
                  {itemprop}
                  {base}
                  {...link}
                />
              );
            })}
          </NavbarDropdown>
        ) : (
          <Link
            class:list={['inner bp:flex', className]}
            {...item}
          />
        );
      })
    }
  </nav>
  <slot />
</div>
<slot name='after' />

<style scoped>
  @reference "@styles/global.css";

  .inner {
    @apply bp:self-center items-center;
    @apply bp:py-1.5;
    @apply bp:rounded-full;
    @apply step:border-current/50;
  }

  .outer {
    @apply flex p-2;
    @apply transition-easy;
  }
</style>
