---
// import { getImage } from 'astro:assets';
import { Img, Link } from '@lib/astro';
import DrawerToggle from '../drawer/DrawerToggle.astro';
import NavbarMenu from './NavbarMenu.astro';
import NavbarMenuToggle from './NavbarMenuToggle.astro';
import ThemeToggle from './ThemeToggle.astro';
import ToTop from './ToTop.astro';

import { nav } from '@app/configs/nav';

import logo from '@assets/images/logo.navbar.webp';
/*
const src = await getImage({
  src: logo,
  width: 80,
  height: 80,
  fit: 'contain'
});
*/
---

<nav
  id='app-navbar'
  class:list={[
    'fixed left-0 top-0 z-50',
    'h-(--navbar-height) w-full px-5',
    'grid grid-cols-[1fr_auto] place-content-center gap-x-3',
    'bp:grid-cols-[1fr_auto_1fr]',
    'bg-theme-frame',
    'onscroll:shadow-md shadow-xs shadow-gray-200 dark:shadow-black'
    // 'border-b border-gray-100 dark:border-gray-900'
  ]}>
  <div class:list={['flex items-center justify-between', 'menu-header']}>
    <div class='-ml-3.5 flex items-center gap-x-7'>
      <DrawerToggle
        icon='dots-three-outline'
        class:list={[
          'not-aria-expanded:rotate-90',
          'motion-safe:ready:transition-transform duration-300 ease-in-out'
        ]}
      />
      <Link
        href='/'
        aria-label='главная страница'
        prefetch>
        <span
          class='sr-only'
          set:text='главная страница'
        />
        <Img
          class:list={[
            'drop-shadow-black drop-shadow-xs hover:drop-shadow-sm',
            'ready:animate-[wiggle_20s_ease-in-out_infinite]'
          ]}
          src={logo}
          width={40}
          height={40}
          alt='ао ниц «строительная экспертиза»'
          eager
        />
      </Link>
    </div>
    <NavbarMenuToggle />
  </div>
  <NavbarMenu items={nav.navbar}>
    <div
      class:list={[
        'max-bp:py-2',
        'flex justify-around',
        'bp:items-center bp:justify-self-end',
        'bg-theme-frame',
        'border-primary-200 dark:border-primary-800 border-t',
        'rounded-b-md',
        'shadow-md dark:shadow-gray-800',
        'bp:shadow-none',
        'bp:bg-transparent'
      ]}>
      <div class='flex items-center'>
        <ThemeToggle />
      </div>
    </div>
  </NavbarMenu>
  <ToTop class:list={['mt-8 w-14 p-3', 'bg-gray-300/50 dark:bg-gray-700/50', 'rounded-full']} />
</nav>
