---
import { Image } from 'astro:assets';
import { Icon, Link } from '@lib/components/astro';
import ThemeToggle from './ThemeToggle.astro';
import ToTop from './ToTop.astro';

import logo from '@assets/images/logo.icon.webp';

import { nav } from '@app/configs/nav';
---

<nav
  id='app-navbar'
  class:list={[
    'fixed inset-x-0 z-50',
    'h-(--navbar-height) px-6 py-3',
    'grid grid-cols-[1fr_auto] place-content-center',
    'bp:grid-cols-[1fr_auto_1fr]',
    'bg-theme-inner',
    'onscroll:shadow-md shadow-sm shadow-gray-300 dark:shadow-gray-950',
    'border-b border-gray-100 dark:border-gray-900'
  ]}>
  <div class:list={['', 'flex items-center justify-between', 'menu-header']}>
    <Link
      class:list={[
        'group',
        'flex items-center gap-4',
        'text-lg font-medium',
        'transition duration-200'
      ]}
      href='/'
      prefetch>
      <Image
        class:list={['drop-shadow-2xl', 'group-hover:drop-shadow-deep']}
        src={logo}
        width={40}
        height={40}
        loading='eager'
        alt='ниц «строительная экспертиза»'
      />
      <span class='md:max-bp:inline hidden 2xl:inline'>НИЦ «Строительная Экспертиза»</span>
    </Link>
    <menu-button>
      <template>
        <button
          id='app-navbar-menu-toggle'
          class:list={[
            'relative flex',
            'text-primary-300 dark:text-primary-300',
            'bg-linear',
            'from-primary-900 to-primary-500 to-150% dark:from-primary-700 dark:to-primary-900',
            'rounded-full',
            'shadow-primary-200 dark:shadow-primary-900 shadow-md',
            'aria-expanded:text-primary dark:aria-expanded:text-primary',
            'aria-expanded:bg-linear-180',
            'bp:hidden'
          ]}
          aria-label='menu toggle'
          aria-expanded='false'
          aria-controls='app-navbar-menu'>
          <span class='sr-only'>menu toggle</span>
          <Icon
            icon='list'
            size='1.5rem'
          />
        </button>
      </template>
    </menu-button>
  </div>
  <div
    id='app-navbar-menu'
    class='bp:contents absolute inset-x-0'
    aria-owns='app-navbar-menu-toggle'
    hidden>
    <menu
      class:list={[
        'px-8 py-5',
        'max-bp:mt-(--navbar-height)',
        'bp:relative bp:px-2 bp:py-1.5',
        'flex list-none flex-col gap-4',
        'bp:flex-row',
        'text-lg font-normal',
        'bp:text-base',
        'max-bp:bg-theme-inner',
        'from-primary-700 to-primary-500 to-150%',
        'border-primary-700'
      ]}>
      {
        nav.navbar.map(({ class: className, ...props }) => (
          <li>
            <Link
              class:list={['inner', className]}
              {...props}
            />
          </li>
        ))
      }
    </menu>
    <div
      class:list={[
        'px-2 pb-2',
        'flex justify-around',
        'bp:items-center bp:justify-self-end',
        'bg-theme-inner',
        'rounded-b-lg',
        'dark:shadow-primary-800 shadow-md',
        'bp:shadow-none',
        'bp:bg-transparent'
      ]}>
      {
        /*
        outers && (
          <div class:list={['flex flex-wrap gap-x-3', 'bp:hidden xl:flex xl:justify-end xl:gap-0']}>
            {outers.map(({ class: className, ...props }) => (
              <Link
                class:list={['outer', className]}
                size='1.625rem'
                {...props}
              />
            ))}
          </div>
        )
      */
      }
      <div class='flex items-center'>
        <ThemeToggle />
      </div>
    </div>
  </div>

  <ToTop
    class:list={['mt-8 w-14 p-3', 'bg-primary-500/50 dark:bg-primary-700/50', 'rounded-full']}
  />
</nav>

<script>
  import breakpoint from '@lib/tailwind/resolve';

  class MenuButton extends HTMLElement {
    media = window.matchMedia(`(min-width: ${breakpoint})`);
    btn: HTMLButtonElement;
    menu: HTMLElement;

    constructor() {
      super();
      this.appendChild(this.querySelector('template')!.content.cloneNode(true));
      this.btn = this.querySelector('button')!;
      this.menu = document.getElementById('app-navbar-menu')!;
      this.menu.hidden = true;
      this.check(this.media);
    }

    connectedCallback() {
      this.btn.addEventListener('click', () => this.set(this.menu.hidden));
      this.media.addEventListener('change', this.check);
      document.addEventListener('click', this.outside);
    }

    disconnectedCallback() {
      document.removeEventListener('click', this.outside);
    }

    set = (x: boolean) => {
      this.btn.setAttribute('aria-expanded', x ? 'true' : 'false');
      this.menu.hidden = !x;
    };

    check = (e: MediaQueryList | MediaQueryListEvent) => {
      this.set(e.matches);
      this.btn.hidden = e.matches;
    };

    outside = (e: Event) => {
      if (
        e?.target &&
        !this.btn.contains(e.target as Node) &&
        !this.menu.contains(e.target as Node)
      )
        this.check(this.media);
    };
  }

  customElements.define('menu-button', MenuButton);
</script>

<style scoped>
  @reference "@styles/global.css";

  .inner {
    @apply block;
    @apply bp:px-4 bp:pt-1.5 bp:pb-2;
    @apply text-theme-plain;
    @apply aria-[current]:text-white;
    @apply bp:page:bg-impact bp:page:text-impact-text;
    @apply bp:hover:bg-gray-300 dark:bp:hover:bg-gray-400 bp:hover:text-impact;
    @apply bp:rounded-full;
    @apply bp:ready:transition-colors bp:ready:duration-200;
    @apply forced-colors:text-selected;
  }

  .outer {
    @apply text-impact-hard dark:text-impact-hard ready:transition-colors ready:duration-200 hover:text-impact-text dark:hover:text-impact-text flex p-2 no-underline;
  }
</style>
