---
import { Image } from 'astro:assets';
import { Icon, Link } from '@lib/components/astro';
import ThemeToggle from './ThemeToggle.astro';
import ToTop from './ToTop.astro';

import logo from '@assets/images/logo.icon.webp';

import { nav } from '@app/configs/nav';
---

<nav
  id='app-navbar'
  class:list={[
    'fixed inset-x-0 z-50',
    'h-(--navbar-height) px-6 py-3',
    'grid grid-cols-[1fr_auto] place-content-center gap-x-3',
    'bp:grid-cols-[1fr_auto_1fr]',
    'bg-theme-inner',
    'onscroll:shadow-md shadow-sm shadow-gray-300 dark:shadow-gray-950',
    'border-b border-gray-100 dark:border-gray-900'
  ]}>
  <div class:list={['flex items-center justify-between', 'menu-header']}>
    <Link
      class:list={[
        'group',
        'flex items-center gap-4',
        'text-base/tight font-medium',
        'transition duration-200'
      ]}
      href='/'
      prefetch>
      <Image
        class:list={[
          'drop-shadow-2xl',
          'group-hover:drop-shadow-deep',
          'animate-[wiggle_20s_ease-in-out_infinite]'
        ]}
        src={logo}
        width={40}
        height={40}
        loading='eager'
        alt='ниц «строительная экспертиза»'
      />
      <div class:list={['hidden', 'xs:max-bp:block 2xl:block']}>
        АО НИЦ <br /> «Строительная Экспертиза»
      </div>
    </Link>
    <menu-button>
      <template>
        <button
          id='app-navbar-menu-toggle'
          class:list={[
            'relative',
            'flex p-2',
            'text-primary-500',
            'bg-gradient-to-b',
            'from-gray-100 to-gray-300 dark:from-gray-700 dark:to-gray-900',
            'rounded-full',
            'shadow-sm shadow-gray-400 hover:shadow-md dark:shadow-gray-950',
            'aria-expanded:bg-gradient-to-t',
            'bp:hidden'
          ]}
          aria-label='menu toggle'
          aria-expanded='false'
          aria-controls='app-navbar-menu'>
          <span class='sr-only'>menu toggle</span>
          <Icon
            icon='list'
            size='1.5rem'
          />
        </button>
      </template>
    </menu-button>
  </div>
  <div
    id='app-navbar-menu'
    class:list={['bp:contents absolute inset-x-0', 'max-bp:top-(--navbar-height)']}
    aria-owns='app-navbar-menu-toggle'
    hidden>
    <menu
      class:list={[
        'bp:py-1.5 relative',
        'flex flex-col',
        'bp:flex-row bp:gap-x-3',
        'text-lg font-normal',
        'bp:text-base',
        'max-bp:bg-theme-inner'
      ]}>
      {
        nav.navbar.map(({ class: className, ...props }) => (
          <li class:list={['relative flex flex-col', className]}>
            <Link
              class:list='inner'
              {...props}
            />
          </li>
        ))
      }
    </menu>
    <div
      class:list={[
        'max-bp:py-2',
        'flex justify-around',
        'bp:items-center bp:justify-self-end',
        'bg-theme-inner',
        'rounded-b-md',
        'shadow-md dark:shadow-gray-800',
        'bp:shadow-none',
        'bp:bg-transparent'
      ]}>
      {
        /*
        outers && (
          <div class:list={['flex flex-wrap gap-x-3', 'bp:hidden xl:flex xl:justify-end xl:gap-0']}>
            {outers.map(({ class: className, ...props }) => (
              <Link
                class:list={['outer', className]}
                size='1.625rem'
                {...props}
              />
            ))}
          </div>
        )
      */
      }
      <div class='flex items-center'>
        <ThemeToggle />
      </div>
    </div>
  </div>

  <ToTop
    class:list={['mt-8 w-14 p-3', 'bg-primary-500/50 dark:bg-primary-700/50', 'rounded-full']}
  />
</nav>

<script>
  import breakpoint from '@lib/tailwind/resolve';

  class MenuButton extends HTMLElement {
    media = window.matchMedia(`(min-width: ${breakpoint})`);
    btn: HTMLButtonElement;
    menu: HTMLElement;

    constructor() {
      super();
      this.appendChild(this.querySelector('template')!.content.cloneNode(true));
      this.btn = this.querySelector('button')!;
      this.menu = document.getElementById('app-navbar-menu')!;
      this.menu.hidden = true;
      this.check(this.media);
    }

    connectedCallback() {
      this.btn.addEventListener('click', () => this.set(this.menu.hidden));
      this.media.addEventListener('change', this.check);
      document.addEventListener('click', this.outside);
    }

    disconnectedCallback() {
      document.removeEventListener('click', this.outside);
    }

    set = (x: boolean) => {
      this.btn.setAttribute('aria-expanded', x ? 'true' : 'false');
      this.menu.hidden = !x;
    };

    check = (e: MediaQueryList | MediaQueryListEvent) => {
      this.set(e.matches);
      this.btn.hidden = e.matches;
    };

    outside = (e: Event) => {
      if (
        e?.target &&
        !this.btn.contains(e.target as Node) &&
        !this.menu.contains(e.target as Node)
      )
        this.check(this.media);
    };
  }

  customElements.define('menu-button', MenuButton);
</script>

<style scoped>
  @reference "@styles/global.css";

  .inner {
    @apply px-4 py-2;
    @apply bp:px-3.5 bp:pt-1 bp:pb-1.5;
    @apply text-theme-plain;
    @apply step:text-theme-header;
    @apply page:text-impact-hard bp:page:text-white dark:bp:page:text-black bp:page:bg-primary-400;
    @apply hover:bg-primary-300 dark:hover:bg-primary-500 hover:text-primary-900 dark:hover:text-primary-200;
    @apply bp:border bp:rounded-full border-transparent;
    @apply bp:ready:transition-colors bp:ready:duration-200;
    @apply forced-colors:text-selected;
  }

  .outer {
    @apply text-impact-hard dark:text-impact-hard ready:transition-colors ready:duration-200 hover:text-impact-text dark:hover:text-impact-text flex p-2 no-underline;
  }
</style>
