---
import { Icon } from '@lib/astro';
---

<theme-toggle>
  <button
    class:list={[
      'group',
      'flex items-center',
      'rounded-full bg-neutral-200 dark:bg-gray-800',
      'shadow-inset shadow-slate-300 dark:shadow-slate-700',
      'ready:motion-safe:transition-colors duration-200'
    ]}>
    <span class='sr-only'>Dark theme</span>
    <span
      class:list={['toggler', 'dark:text-theme-plain text-white', 'dark:before:translate-x-full']}>
      <Icon
        icon='sun'
        class='disabled'
      />
    </span>
    <span class:list={['relative z-10 flex size-8 p-2', 'text-theme-plain dark:text-black']}>
      <Icon
        icon='moon-stars'
        class='disabled'
      />
    </span>
  </button>
</theme-toggle>

<style scoped>
  @reference "@styles/global.css";

  .toggler {
    @apply relative z-10 flex size-8 p-2;
    &::before {
      @apply content-empty;
      @apply absolute inset-0 -z-10;
      @apply rounded-full bg-slate-400 dark:bg-slate-600;
      @apply ready:motion-safe:transition-transform duration-300;
    }
  }
</style>

<script>
  class ThemeToggle extends HTMLElement {
    readonly class = 'theme-dark';
    btn: Element;

    constructor() {
      super();
      this.btn = this.children[0];
    }

    connectedCallback() {
      this.btn.addEventListener('click', () => this.setTheme(!this.isDark()));
      this.setTheme(this.isDark());
    }

    // disconnectedCallback() {}

    isDark() {
      return document.documentElement.classList.contains(this.class);
    }

    setTheme = (dark: boolean) => {
      document.documentElement.classList[dark ? 'add' : 'remove'](this.class);
      this.btn.setAttribute('aria-pressed', String(dark));
    };
  }

  customElements.define('theme-toggle', ThemeToggle);
</script>
