---
import { twMerge } from '@lib';
import type { HTMLAttributes } from 'astro/types';

type Props = Omit<HTMLAttributes<'button'>, 'class'> & {
  class?: ClassValue;
  icon?: string;
  label?: string;
  duration?: number;
  speed?: number;
};

const {
  class: className,
  icon = 'arrow-fat-lines-up-duotone',
  duration = 300,
  speed = duration * 5,
  'aria-label': ariaLabel,
  ...props
} = Astro.props;

const label = ariaLabel ?? 'цветовая тема';
---

<app-theme-toggle>
  <template>
    <button
      class={twMerge(
        'group',
        'my-1 flex items-center',
        'select-none',
        'rounded-full border border-gray-300 dark:border-gray-700',
        'shadow-inset shadow-slate-300 dark:shadow-slate-600',
        'motion-safe:ready:transition-colors duration-200',
        className
      )}
      aria-label={label}
      {...props}>
      <span
        class='sr-only'
        set:text={label}
      />
      <div
        class:list={[
          'toggler',
          'dark:text-theme-plain text-white',
          'dark:before:translate-x-full'
        ]}>
        <span class:list={['iconify ph--sun', 'block size-5']}></span>
      </div>
      <div class:list={['relative z-10 flex p-1.5', 'text-theme-plain dark:text-black']}>
        <span class:list={['iconify ph--moon-stars', 'block size-5']}></span>
      </div>
    </button>
  </template>
</app-theme-toggle>

<style scoped>
  @reference "@styles/global.css";

  .toggler {
    @apply relative z-10 flex p-1.5;
    &::before {
      @apply content-empty;
      @apply absolute inset-0 -z-10;
      @apply rounded-full bg-slate-400 dark:bg-slate-600;
      @apply duration-300 motion-safe:transition-transform;
    }
  }
</style>

<script>
  class AppThemeToggle extends HTMLElement {
    readonly class = 'theme-dark';
    toggle: HTMLButtonElement;

    constructor() {
      super();
      this.style.display = 'contents';
      this.appendChild(this.querySelector('template')!.content.cloneNode(true));
      this.toggle = this.querySelector('button')!;
    }

    connectedCallback() {
      this.toggle.addEventListener('click', () => this.setTheme(!this.isDark()));
      this.setTheme(this.isDark());
    }

    // disconnectedCallback() {}

    isDark() {
      return document.documentElement.classList.contains(this.class);
    }

    setTheme = (dark: boolean) => {
      document.documentElement.classList[dark ? 'add' : 'remove'](this.class);
      this.toggle.setAttribute('aria-pressed', String(dark));
    };
  }

  customElements.define('app-theme-toggle', AppThemeToggle);
</script>
