---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Base.astro';
import { Header } from '@components/astro';
import { BindLightboxData } from '@lib/astro';

const collection = await getCollection('permissions');

const title = 'Допуски';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${title} • АО НИЦ «Строительная Экспертиза»`}>
  <Header {title} />

  <main
    class='frame'
    itemprop='mainContentOfPage'>
    {
      collection.map((x) => (
        <BindLightboxData
          class={['grid justify-between gap-8', 'grid-cols-1 sm:grid-cols-2 lg:grid-cols-3']}
          custom={{
            inner: {
              img: 'h-auto w-full max-w-full'
            }
          }}
          options={{ behaviour: 'loop' }}
          data={x.data.map(({ image, caption }) => ({ src: image, caption }))}
          transform={{
            thumb: {
              width: 320,
              quality: 80
            },
            modal: {
              width: 800,
              quality: 80
            }
          }}
          sign={{ icon: 'arrows-out', class: 'top-2 left-2', dark: true }}
          {title}
          description='АО НИЦ «Строительная Экспертиза»'
          alt='допуск'
        />
      ))
    }
  </main>
</Layout>
