---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Base.astro';
import { Header } from '@lib/components/astro';
import { BindLightboxData } from '@lib/components/astro';

const collection = await getCollection('permissions');

const title = 'Допуски';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${title} • АО НИЦ «Строительная Экспертиза»`}>
  <Header {title} />

  <main class='frame'>
    {
      collection.map((data) => (
        <BindLightboxData
          class='flex w-full flex-wrap justify-center gap-8'
          custom={{
            inner: {
              image: 'w-48',
              caption: 'mt-2 text-sm',
              title: 'text-slate-700 dark:text-slate-400'
            }
          }}
          options={{ behaviour: 'loop' }}
          {data}
          transform={{
            thumb: {
              width: 288,
              quality: 80
            },
            modal: {
              width: 800,
              quality: 80
            }
          }}
        />
      ))
    }
  </main>
</Layout>
