---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Base.astro';
import { Header } from '@lib/astro';
import { BindLightboxData } from '@lib/astro';

const collection = await getCollection('permissions');

const title = 'Допуски';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${title} • АО НИЦ «Строительная Экспертиза»`}>
  <Header {title} />

  <main class='frame'>
    {
      collection.map((data) => (
        <BindLightboxData
          class={['grid justify-between gap-8', 'grid-cols-1 sm:grid-cols-2 lg:grid-cols-3']}
          custom={{
            inner: {
              img: 'h-auto w-full max-w-full',
              caption: 'mt-2 text-sm',
              title: 'text-slate-700 dark:text-slate-400'
            }
          }}
          options={{ behaviour: 'loop' }}
          {data}
          transform={{
            thumb: {
              width: 320,
              quality: 80
            },
            modal: {
              width: 800,
              quality: 80
            }
          }}
          sign={{ icon: 'arrows-out', dark: true }}
        />
      ))
    }
  </main>
</Layout>
