---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Layout from '@layouts/Base.astro';
import { Header } from '@lib/components/astro';

const collection = await getCollection('feedback');

const title = 'Отзывы';
const description = 'Отзывы АО НИЦ «Строительная экспертиза»';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  {description}>
  <Header {title} />

  <main class='frame mt-4 flex flex-wrap justify-around gap-8'>
    {
      collection.map(({ data }) =>
        data.map(({ image: src }) => (
          <Image
            class:list={[
              'border border-gray-50 dark:border-none',
              'shadow-sm shadow-gray-400 dark:shadow-gray-950'
            ]}
            {src}
            width={256}
            alt=''
          />
        ))
      )
    }
  </main>
</Layout>
