---
import { getCollection } from 'astro:content';
import { BindLightboxData } from '@lib/astro';
import { Header } from '@components/astro';
import Layout from '@layouts/Base.astro';

const collection = await getCollection('feedback');

const title = 'Отзывы';
const description = 'Отзывы АО НИЦ «Строительная экспертиза»';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  {description}>
  <Header {title} />

  <main
    class='frame'
    itemprop='mainContentOfPage'>
    {
      collection.map((x) => (
        <BindLightboxData
          class={['grid justify-between gap-8', 'grid-cols-1 sm:grid-cols-2 lg:grid-cols-3']}
          custom={{
            item: 'h-full bg-white',
            inner: {
              img: 'h-auto w-full max-w-full',
              caption: 'mt-2 text-sm',
              title: 'text-slate-700 dark:text-slate-400'
            }
          }}
          options={{ behaviour: 'loop' }}
          data={x.data.map(({ image, caption }) => ({ src: image, caption }))}
          transform={{
            thumb: {
              width: 320,
              quality: 80
            },
            modal: {
              width: 800,
              quality: 80
            }
          }}
          sign={{ icon: 'arrows-out', dark: true }}
        />
      ))
    }
  </main>
</Layout>
