---
import Layout from '@layouts/Base.astro';
import { Header } from '@components/astro';

export const prerender = true;

const title = 'Натурные испытания';
const description = 'Натурные испытания';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${description} • АО НИЦ «Строительная Экспертиза»`}>
  <Header {title} />

  <main
    class='frame readable'
    itemprop='mainContentOfPage'>
    <p>
      Одно из преимуществ Научно-Исследовательского центра «Строительная экспертиза» - возможность
      проведения <strong>натурных испытаний</strong> строительных конструкций. Наиболее востребованными,
      естественно, является определение физико-механических характеристик возведенных конструкций, а
      также грунтов основания или обратной засыпки.
    </p>
    <p>
      Научно-Исследовательский центр «Строительная экспертиза» выполняет работы по моделированию
      эксплуатационных нагрузок на отдельные элементы здания (сваи, лестницы, перила, распорные
      анкера фасадных систем, так и на изготавливаемые на специализированном полигоне образцы
      конструкций аналогичные используемым в ходе возведения зданий и сооружений (балки, перемычки,
      ростверки, опоры мачт и другие). При этом использование специализированного оборудования и
      распределительных систем позволяют создавать нагрузки более 300 тонн.
    </p>
  </main>
</Layout>
