---
import Layout from '@layouts/Base.astro';
import { Header } from '@components/astro';

const title = 'Геодезия и мониторинг';
const description = 'Геодезия и мониторинг';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${description} • АО НИЦ «Строительная Экспертиза»`}>
  <Header {title} />

  <main
    class='frame readable'
    itemprop='mainContentOfPage'>
    <p>
      Научно-исследовательский центр «Строительная Экспертиза» обладает мощной базой геодезического
      оборудования, позволяющего в кротчайшие сроки выполнять различные работы, связанные с
      геодезическими измерениями.
    </p>
    <p>
      Наш научный центр оснащен самым современным оборудованием лидеров-производителей
      геодезического оборудования, таких как Sokkia, Leica и Trimble.
    </p>
    <p>
      Большой комплект современного оборудования и профессиональный коллектив опытных геодезистов
      дает возможность решать сложные и нестандартные задачи при выполнении геодезического
      сопровождения строительства.
    </p>
    <p>
      Геодезические работы, выполняемые Научно-исследовательским центром «Строительная экспертиза»,
      являются комплексным видом работ, начинающимися при создании опорной разбивочной сети на
      строительной площадке и мониторинга за прилегающей застройкой, вплоть до оформления
      исполнительной документации при окончании этапа или всего строительства.
    </p>
    <p>
      Деятельность НИЦ «Строительная экспертиза» всегда была неразрывно связанна с научной и
      практической деятельностью. Именно поэтому мы всегда стремились соответствовать требованиям и
      рекомендациям государственных стандартов и регламентов. Вот почему мы используем в своей
      работе только сертифицированное геодезическое оборудование и материалы. При этом, например,
      геодезические марки, изготавливаемые на собственной производственной базе, и не подлежащие
      обязательной сертификации, мы отдали на испытания в систему добровольной сертификации
      «МЕЖРЕГИОНСТАНДАРТ» которая после проведения серий лабораторных и натурных испытаний, их
      сертифицировала, выдав соответствующий аттестат.
    </p>
    <p>
      Наиболее интересной, с точки зрения инжиниринга, является инклинометрия, выполняемая при
      геодезическом мониторинге за состоянием «стены в грунте» или за стволами буровых скважин.
    </p>
    <p>
      Бесспорно, наиболее ответственным видом измерений является геодезический мониторинг за кренами
      и осадками зданий. Именно поэтому НИЦ «Строительная Экспертиза» имея на своей базе более 10
      лазерных нивелиров Trimble и 5 тахеометров Sokkia, способна выполнять геодезический мониторинг
      при возведении промышленных и гражданских зданий любой сложности, а также высотных и
      большепролетных сооружений.
    </p>
    <p>
      Кроме того, возможность выполнять геодезическое сопровождение строительства при возведении
      высотных и большепролетных конструкций подвержена допусками СРО.
    </p>
    <p class='leader'>Перечень работ, выполняемых НИЦ «Строительная Экспертиза»:</p>
    <ul>
      <li>Геодезический мониторинг деформаций зданий и сооружений</li>
      <li>Геотехнический мониторинг</li>
      <li>Геодезические марки, репера, знаки</li>
      <li>Инклинометрия</li>
      <li>Мониторинг «стены в грунте»</li>
      <li>Фасадная съемка</li>
      <li>Инженерные изыскания</li>
      <li>Микронивелирные измерения (наблюдения)</li>
      <li>Геодезическое оборудование</li>
      <li>Лазерное сканирование</li>
      <li>Геотехнический мониторинг гидросооружений</li>
      <li>3D-моделирование зданий</li>
      <li>Геотехнические и геодезические работы на промышленных предприятиях</li>
      <li>Деформации железнодорожного полотна</li>
      <li>Геотехнический мониторинг надземных и подземных коммуникаций</li>
      <li>Геодезические работы при строительстве коттеджных домов</li>
      <li>Оценка влияния нового строительства</li>
      <li>Определение наклонов и кренов вышек связи и труб</li>
      <li>
        Обследование с помощью геодезического и геотехнического мониторинга новостроек и старых
        сооружений
      </li>
      <li>Наблюдения за смещением грунтового массива</li>
    </ul>
  </main>
</Layout>
