---
import Layout from '@layouts/Base.astro';
import { Header } from '@components/astro';

export const prerender = true;

const title = 'Технический надзор';
const description = 'Технический надзор';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${description} • АО НИЦ «Строительная Экспертиза»`}>
  <Header {title} />

  <main
    class='frame readable'
    itemprop='mainContentOfPage'>
    <p>
      <strong>Технический надзор</strong> (технадзор) в строительстве — это комплекс мер, целью которых
      является сделать весь процесс проектных, сметных, инженерных и строительно-монтажных работ с начала
      проектирования и до окончания строительства максимально управляемым, прозрачным, и предсказуемым
      для заказчика. Очень часто можно встретить термин
      <b>контроль СМР</b> (если расшифровать, то получится контроль над строительно-монтажными работами).
      Технадзор проводится на каждом этапе – с момента подготовки проекта до сдачи строительного объекта.
    </p>
    <p>
      Технический надзор в области проектирования, сметных, инженерных и строительно-монтажных работ
      осуществляется независимыми инженерами-экспертами в своей области. Заказчик получает от нашей
      лаборатории четкие рекомендации, оформленные в виде технических заключений, фото-отчетов и
      результатов проверок объектов строительства.
    </p>
    <p>
      Присутствие на строительной площадке нашего специалиста по технадзору гарантирует надлежащий
      <b>контроль строительно-монтажных работ</b> и высокое качество выполняемых операций. Договор на
      технадзор включает в себя проверку правильности составления строительной документации. Это позволит
      заказчику в случае возникновения конфликтных ситуаций аргументировать свои претензии по отношению
      к строителям.
    </p>
    <p>Технический надзор не признает мелочей. Оценке подвергается все стадии строительства.</p>
    <p>
      Наши специалисты, выполняющие технадзор в строительстве, смогут сэкономить заказчику затраты
      времени и средств. Помогут избежать необоснованно завышенных сроков выполнения
      строительно-монтажных работ, проследят за качеством и объемом выполненных работ.
    </p>
    <p>
      Технический надзор (технадзор) за строительством осуществляется в интересах Заказчика
      строительства с целью обеспечения контроля качества строительных работ и имеет целью
      постоянное проведение оценки соответствия строящегося объекта требованиям к его безопасности,
      установленным техническими регламентами, а также нормативными документами и стандартами,
      являющимися доказательной базой соблюдения требований технических регламентов и подтверждением
      возможности безопасной эксплуатации объекта при последующей передачи его в эксплуатацию.
    </p>
    <p>
      Технический надзор позволяет отслеживать технологическую последовательность выполнения
      строительных работ, при осуществлении функций технического надзора на строительной площадке
      постоянно находятся инженеры технадзора по нескольким специальностям.
    </p>
    <p class='leader'>
      Технический надзор осуществляется в соответствии с требованиями СНиП 12-01-2009 «Организация
      строительства» и предусматривает следующие виды технадзора:
    </p>
    <ul>
      <li>
        Проверка наличия у исполнителя работ документов о качестве (сертификатов в установленных
        случаях) на применяемые им материалы, изделия и оборудование, документированных результатов
        входного контроля смр и лабораторных испытаний, таким образом инженер технадзора
        осуществляет контроль качества строительных материалов.
      </li>
      <li>
        Контроль соблюдения исполнителем работ правил складирования и хранения применяемых
        материалов, изделий и оборудования; при выявлении нарушений этих правил представитель
        технадзора может запретить применение неправильно складированных и хранящихся материалов.
      </li>
      <li>
        При контроле соответствия выполняемой исполнителем работ последовательности и состава
        выполняемых технологических операций — технологической и нормативной документации,
        распространяющейся на данные технологические операции, технический надзор контролирует
        соблюдение технологических режимов, установленных технологическими картами и регламентами,
        соответствие показателей качества выполнения операций и их результатов требованиям проектной
        и технологической документации, а также распространяющейся на данные технологические
        операции нормативной документации.
      </li>
      <li>
        Технический надзор контролирует наличие и правильность ведения исполнителем работ
        исполнительной технической документации, в том числе оценку достоверности геодезических
        исполнительных схем выполненных конструкций с выборочным контролем точности положения
        конструктивных элементов.
      </li>
      <li>
        Контроль за устранением дефектов в проектной документации, выявленных в процессе
        строительства, документированный возврат дефектной документации проектировщику, контроль и
        документированная приемка исправленной документации, передача ее исполнителю работ.
      </li>
      <li>
        Контроль исполнения исполнителем работ предписаний органов государственного надзора и
        местного самоуправления.
      </li>
      <li>
        Извещение органов государственного надзора обо всех случаях аварийного состояния на объекте
        строительства.
      </li>
      <li>
        Контроль соответствия объемов и сроков выполнения работ условиям договора и календарному
        плану строительства.
      </li>
      <li>
        Оценку (совместно с исполнителем работ) соответствия выполненных работ, конструкций,
        участков инженерных сетей, подписание двухсторонних актов, подтверждающих соответствие;
        контроль за выполнением исполнителем работ требования о недопустимости выполнения
        последующих работ до подписания указанных актов.
      </li>
      <li>
        Заключительную оценку (совместно с исполнителем работ) соответствия законченного
        строительством объекта требованиям законодательства, проектной и нормативной документации.
      </li>
    </ul>
  </main>
</Layout>
