---
import { twMerge } from '@daks.dev/astro.sdk';
import { Link } from '@daks.dev/astro.sdk/astro';
import DrawerToggle from './DrawerToggle.astro';
import DrawerMenu from './DrawerMenu.astro';
import microdata from '@app/configs/microdata';
import type { HTMLAttributes } from 'astro/types';

type Props = Omit<HTMLAttributes<'aside'>, 'class' | 'inert' | 'aria-owns'> & {
  class?: ClassValue;
};

const { class: className, ...props } = Astro.props;

const { email, telephone } = microdata.organization;
---

<aside
  is='app-drawer'
  id='app-drawer'
  class={twMerge(
    'fixed top-(--navbar-height) bottom-0 z-40 w-(--drawer-width)',
    '-translate-x-full not-has-[nav[inert]]:translate-x-0 2xl:-translate-x-[(100%_-_3rem)]',
    'flex',
    'overflow-hidden',
    'bg-theme-frame shadow-xl shadow-gray-300 dark:shadow-gray-950',
    'border-gray-700/50 dark:border-l',
    'duration-200 ease-in-out motion-safe:ready:transition-transform',
    className
  )}
  aria-owns='app-drawer-toggle'
  {...props}>
  <DrawerMenu class='grow overflow-y-auto py-5' />
  <div
    class:list={[
      'flex flex-col items-center gap-y-2',
      'w-12 py-5',
      'text-primary-500',
      'border-l border-gray-200 dark:border-gray-700/50'
    ]}>
    <a
      class:list={['p-2', 'text-primary-500']}
      href=`tel://${telephone.replace(/[\s-()]/g, '')}`
      aria-label='позвонить'>
      <span
        class:list={['iconify ph--phone-call', 'bg-only size-6']}
        set:text='позвонить'
      />
    </a>
    <a
      class:list={['mb-5 p-2', 'text-primary-500']}
      href=`mailto:${email}`
      aria-label='отправить сообщение'>
      <span
        class:list={['iconify ph--envelope', 'bg-only size-6']}
        set:text='отправить сообщение'
      />
    </a>

    <Link
      class:list={['p-2', 'page:text-theme-header', 'transition-easy']}
      href='/activity'
      icon={['iconify ph--hard-hat', 'size-6']}
      aria-label='деятельность'
      itemprop='relatedLink'
    />
    <Link
      class:list={['p-2', 'page:text-theme-header', 'transition-easy']}
      href='/projects'
      icon={['iconify ph--buildings', 'size-6']}
      aria-label='реализованные проекты'
      itemprop='relatedLink'
    />
    <Link
      class:list={['p-2', 'page:text-theme-header', 'transition-easy']}
      href='/permissions'
      icon={['iconify ph--certificate', 'bg-only size-6']}
      aria-label='допуски и сертификаты'
      itemprop='relatedLink'
    />
    <Link
      class:list={['p-2', 'page:text-theme-header', 'transition-easy']}
      href='/feedbacks'
      icon={['iconify ph--trophy', 'bg-only size-6']}
      aria-label='отзывы заказчиков'
      itemprop='relatedLink'
    />

    <Link
      class:list={['mt-auto mb-5 p-2', 'text-primary-500']}
      href='/admin'
      icon={['iconify ph--sliders', 'size-6']}
      aria-label='панель администратора'
    />

    <DrawerToggle
      custom={['iconify ph--sign-in', 'size-6']}
      class:list={[
        'p-2',
        'aria-expanded:rotate-180',
        'duration-500 ease-in-out motion-safe:ready:transition-transform'
      ]}
      uuid='drawer'
    />
  </div>
</aside>

<script>
  import { drawer } from './store';

  class AppDrawer extends HTMLElement {
    menu: HTMLElement;

    constructor() {
      super();
      this.menu = this.querySelector('[role="menu"]')!;
      this.setAttribute(
        'aria-owns',
        [...document.querySelectorAll('[id|="app-drawer-toggle"]')].map((x) => x.id).join(' ')
      );
    }

    connectedCallback() {
      drawer.listen((x) =>
        x ? this.menu.removeAttribute('inert') : this.menu.setAttribute('inert', '')
      );
      document.addEventListener('astro:page-load', this.close);
      document.addEventListener('click', this.outside);
    }

    disconnectedCallback() {
      drawer.off();
      document.removeEventListener('astro:page-load', this.close);
      document.removeEventListener('click', this.outside);
    }

    close = () => {
      drawer.set(false);
    };

    outside = (e: Event) => {
      if (e?.target && !e.defaultPrevented && !this.contains(e.target as Node)) this.close();
    };
  }

  customElements.define('app-drawer', AppDrawer, { extends: 'aside' });
</script>
