/* @import 'fonts'; */

/* @import 'tailwindcss'; */

@import '@lib/tailwind/index.css';
@source '../';

@theme {
  --breakpoint-bp: 58rem;

  --font-sans:
    'Open Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --color-primary: var(--color-white);
  --color-primary-50: var(--color-slate-50);
  --color-primary-100: var(--color-slate-100);
  --color-primary-200: var(--color-slate-200);
  --color-primary-300: var(--color-slate-300);
  --color-primary-400: var(--color-slate-400);
  --color-primary-500: var(--color-slate-500);
  --color-primary-600: var(--color-slate-600);
  --color-primary-700: var(--color-slate-700);
  --color-primary-800: var(--color-slate-800);
  --color-primary-900: var(--color-slate-900);
  --color-primary-950: var(--color-slate-950);

  --color-impact: #7611a6;
  --color-impact-soft: #1c0056;
  --color-impact-hard: #c561f6;
  --color-impact-accent: #ca7879;
  --color-impact-text: #ffffff;
  --color-impact-subtle: rgba(197, 97, 247, 0.3333);
  --color-impact-overlay: rgba(119, 17, 177, 0.3333);

  --color-theme-frame: rgb(255, 255, 255);
  --color-theme-inner: rgb(246, 247, 249);
  --color-theme-plain: rgb(0, 0, 0);
  --color-theme-header: rgb(90, 97, 80);
  --color-theme-link: rgb(40, 51, 151);

  --navbar-height: 4.5rem;
}

:root.theme-dark {
  --color-theme-frame: rgb(23, 24, 28);
  --color-theme-inner: rgb(35, 38, 47);
  --color-theme-plain: rgb(155, 163, 180);
  --color-theme-header: rgb(131, 139, 119);
  --color-theme-link: rgb(99, 121, 184);
}

@layer base {
  body {
    @apply leading-normal;
    @apply bg-theme-frame text-theme-plain;
  }

  a {
    @apply text-theme-link page:text-theme-header;
  }

  h1 {
    @apply leading-relaxed;
    @apply text-3xl sm:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl;
  }

  h2 {
    @apply leading-relaxed;
    @apply text-2xl sm:text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl;
  }

  h3 {
    @apply text-xl sm:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
  }

  h4 {
    @apply text-lg sm:text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl;
  }

  h5 {
    @apply text-base sm:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl;
  }

  :where(h1, h2, h3, h4, h5) {
    @apply font-medium;
  }

  :where(h1, h2) {
    @apply leading-tight;
  }

  :where(h3, h4, h5) {
    @apply leading-snug;
  }

  :where(a, button) {
    @apply cursor-pointer;
  }
}

@utility min-h--screen-navbar {
  min-height: calc(100vh - var(--navbar-height));
}
@utility max-h--screen-navbar {
  max-height: calc(100vh - var(--navbar-height));
}

@utility leader {
  @apply text-slate-800 dark:text-slate-400;
  @apply bp:text-xl 2xl:text-1.5xl text-base sm:text-lg;
}

@import '@lib/tailwind/css/readable.css';

@layer utilities {
  .readable {
    @apply bp:text-lg/relaxed text-sm/relaxed sm:text-base/relaxed;
    @apply font-light;
    :where(h2, h3, h4) {
      @apply tracking-normal;
      @apply sm:text-1.5xl 2xl:text-2.5xl text-xl lg:text-2xl;
    }
    :where(p) {
      @apply xs:text-justify;
    }
    :where(a) {
      @apply text-cyan-800 dark:text-cyan-600;
      @apply hover:decoration-inherit;
    }
    :where(b, strong) {
      @apply font-medium;
    }
    :where(table, th, td) {
      @apply border-slate-500 dark:border-slate-400;
      @apply cursor-default;
    }
    :where(th, td) {
      @apply sm:px-2.5 sm:py-2;
    }
    :where(th) {
      @apply font-medium;
      @apply text-slate-500 dark:text-slate-400;
    }
    :where(tr) {
      @apply hover:bg-neutral-200 dark:hover:bg-gray-700;
    }
    :where(blockquote) {
      @apply text-gray-500 dark:text-gray-400;
      @apply border-slate-500 dark:border-slate-400;
    }
    :where(.leader) {
      @apply mt-6;
      @apply leading-relaxed;
    }
  }

  :where(.snap-start, .snap-center) {
    scroll-margin-top: var(--navbar-height);
  }
}

@layer components {
  header:has(~ :where(main, [role='main'])) {
    margin-top: calc(4rem + var(--navbar-height));
    h1 {
      @apply text-theme-header;
    }
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(30deg);
  }
  66% {
    transform: rotate(-30deg);
  }
}
