---
import Layout from '@layouts/Base.astro';
import { Header } from '@components/astro';

const title = 'Энергоаудит';
const description = 'Энергоэффективность и воздухопроницаемость';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${description} • АО НИЦ «Строительная Экспертиза»`}>
  <Header {title} />

  <main
    class='frame readable'
    itemprop='mainContentOfPage'>
    <p>
      Под энергетическим аудитом (с целью оформления отчета по энергоаудиту) в настоящее время
      понимается комплексное обследование организаций, предприятий и отдельных объектов по их
      инициативе или на основании закона. В него входит:
    </p>
    <ul>
      <li>
        составление карты использования объектом топливно-энергетических ресурсов в соответствии с
        ФЗ 261 и методическими рекомендациями;
      </li>
      <li>
        разработка организационных и технических мероприятий, направленных на снижение потерь
        энергии;
      </li>
      <li>определение потенциала энергосбережения;</li>
      <li>финансовая оценка энергосберегающих мероприятий.</li>
    </ul>
    <p>
      В Федеральном законе Российской Федерации от 23 ноября 2009 г. № 261-ФЗ «Об энергосбережении и
      о повышении энергетической эффективности и о внесении изменений в отдельные законодательные
      акты Российской Федерации» энергетическое обследование определяется как сбор и обработка
      информации об использовании энергетических ресурсов для получения достоверной информации об
      объеме используемых энергетических ресурсов, о показателях энергетической эффективности, а
      также выявления возможностей энергосбережения и повышения энергетической эффективности.
    </p>
    <p>
      Цель комплексного энергоаудита - определение возможной экономии потребляемой энергии,
      составление отчета и создание энергетического паспорта по организации, и также составление
      карты потребителей энергоресурсов. Конечным итогом работы должно стать создание эффективной
      системы энергетического менеджмента. То есть комплексный энергетический аудит должен стать
      базой для формирования энергополитики предприятия, строящего или эксплуатирующего объект
      энергоаудита. Опыт и практика показывают, что организации и предприятия активно применяют
      элементы энергоменеджмента, разрабатывая и внедряя программы по энергосбережению. В рамках
      муниципальных и федеральных программ ведется замена оборудования, при закупках выбор делается
      в пользу энрегоэффективного оборудования. Однако до сих пор еще не сформирован системный
      подход и анализ всей проводимой работы. Между тем, комплексный энергоаудит нужен всем объектам
      капитального строительства. Он рассматривает все энергопотребляющее оборудование, предлагает
      максимальную экономию и наиболее широкий выбор мер. Методический сбор данных существенно
      упрощает анализ и позволяет найти подходящие решения, легко реализуемые на практике.
      Комплексный энергоаудит, в отличие от поверхностного, включает в себя анализ всех
      энергетических затрат и энергопотребления оборудования в здании: систем ОВК (отопления,
      вентиляции и кондиционирования) и воздуховодов; ограждающих конструкций здания (стены, окна,
      крыша, фундамент, изоляция); освещения; нагрузки на электросети (бытовая техника и
      компьютеры). Также применяются другие меры, например, повышение эффективности процессов
      эксплуатации и технического обслуживания, повышение квалификации ответственных сотрудников.
      Среди задач комплексного энергоаудита - не только на повышении эффективности оборудования, но
      и на создании его оптимальной работы и соответствии требуемой нагрузке, то есть выбирать
      оборудование с мощностью, соответствующей задачам. Однако многие компании занимающиеся
      "энергоэффективностью", и не подозревают, что кроме использования тепловизора для оценки
      тепловых потерь через ограждающие стеновые конструкции, необходимо еще оценить потери через
      кровлю, вентиляцию, стоковые воды, электрическую сеть и т.д. Они не обследуют оборудование,
      работающее с большими нагрузками, например, системы по отоплению, вентиляции и
      кондиционированию воздуха (ОВК), мощные электродвигатели воздухораспределяющих установок и
      насосов (однако существенное повышение энергоэффективность позволяет отладка настройки
      неправильно работающих систем ОВК). Компьютеры и периферийное оборудование, оборудование
      мини-кухонь, освещение и светопрозрачные конструкции (окна) также не попадают в отчет таких
      компаний, а они, тем не менее, также обладают энергосберегающим потенциалом. Комплексный
      подход к энергоаудиту зародился более 10 лет назад при проведении проверки энергопотребления
      жилых зданий. Но энергоаудиторские компании, появились на российском рынке в середине 90-х
      годов. Без учебников и методик, энтузиасты – энергоаудиторы и подопытные предприятия начинали
      энергетические аудиты, основываясь на собственном опыте. Практика показывает, что только
      комплексное моделирование и анализ помогают выявить выявить все виды потерь энергии, в том
      числе и нестандартные. Так, в процессе расчетов пристальное внимание стоит уделить разнице
      между расчетными и фактическими значениями расхода энергии инженерными системами здания. То
      есть для эффективного и успешного результата энергоаудита необходима оценка энергозатрат
      здания, т.е. сравнение "вводных" мощностей (отопление, горячая вода, электричество) и
      фактического потребления (потери тепла через ограждающие конструкции и вытяжку вентиляции, а
      также температуру канализационных стоков; электрические потребители; потери тепла в трубах
      горячего водоснабжения).
    </p>
    <p>
      Помимо этого, нужно учесть взаимное влияние энергосберегающих мероприятий, поскольку их
      простое, непродуманное суммирование может не только не дать эффект экономии, но и наоборот –
      привести к увеличению расхода энергии.
    </p>
    <p>
      Сам объект энергоаудита – исследуемое здание - должно рассматриваться как уникальное, а не как
      одно из множества аналогичных объектов. Такой подход сможет выявить ошибки или недочеты в его
      эксплуатации и найти индивидуальные возможности экономии энергии именно для данного здания. В
      первую очередь этому будет способствовать сбор фактических данных, например, по работе системы
      ОВК: режим эксплуатации оборудования и расход энергии, изменение температуры, и т.д. Такой
      индивидуальный подход способен выявить даже крупные проблемы здания. К примеру, на западе есть
      даже понятие «sick building syndrome» - «синдром больного здания». Это комплексная проблема
      здания, которое не только не является энергоэффективным, но и способно распространять риск
      заражения людей простудными заболеваниями через систему ОВК. Экспертам, производящим
      комплексный энергоаудит, необходимо ознакомиться с особенностями здания. Например, центральные
      системы ОВК и их системы управления могут создать сложности даже для опытных инженеров. Так, к
      примеру, в высотных зданиях могут образовываться неконтролируемые воздушные потоки,
      возникающие из-за взаимодействия тяги, вытяжных вентиляторов и воздухораспределительных систем
      повышенного давления. И этот факт и показатели также нужно учитывать при комплексном виде
      обследования. Также при проведении исследования необходимо вводить поправку на особенности
      наружного климата. Проблемой может стать проведение энергоаудита в теплое время года из –за
      отсутствия температурного перепада внутри и снаружи температуры. Выходом может служить
      применение инновационной технологии - так «аэродверей» (blower door). Эта система создана для
      тепловой диагностики и точного измерения утечек в небольших зданиях или объектах с низкой
      воздухопроницаемостью. Аэродверь помогает выявить воздушные потоки, вместе с которыми из
      здания уходит до 20% тепла. Принцип работы аэродвери таков: в здании создается искусственный
      перепад давления (повышенного и разреженного), и датчики фиксируют источники движения
      воздушных потоков и, следовательно, теплопотерь. Аэродверь может протестировать как небольшой
      дом, так и полноценный складской комплекс, обеспечивая нагнетание огромного потока воздуха (до
      42,000 куб.м/час). Поверхностный энергоаудит не брал бы в расчет особенности климата. Этот
      недочет усилил бы тот факт, что требования, предъявляемые ко всему процессу энергоаудита,
      недостаточно подробно сформулированы и жесткие границы между поверхностным и комплексным
      энергоадитом отсутствуют. Поэтому выбор данных и мероприятий зачастую находится лишь в зоне
      ответственности и профессионализма специалиста, который проводит энергоаудит. Отсутствие же
      подробной информации при выполнении энергоаудита приводит к нечетким рекомендациям и отчетам.
      Между тем необходимо проводить аналитическую обработку полученных данных, с оформлением
      конкретных рекомендаций по повышению энергоэффективности здания. То есть после проведения
      энергоаудита должен быть сформирован пакет рекомендаций – фактически, модель
      энергоэффективности здания – и карты использования объектом топливно-энергетических ресурсов.
      Эффективные и удачные методики проведения энергоаудита, примененные на практике, тот час
      подхватываются профессиональным сообществом. В США, к примеру, были приняты национальные
      стандарты по энергоаудиту. И именно комплексный подход получил признание и применение при
      проведении энергоаудита, а упрощенные методы сегодня считаются неэффективными.И это вполне
      объяснимо в современных условиях эксплуатации недвижимости, когда энергоаудит становится
      частью инвестиционного аудита. Простой отчёт по энергоаудиту сегодя уже не удовлетворяет
      потенциального инвестора. Ему нужно предоставить технико-экономическое обоснование каждого
      предлагаемого инвестпроекта, финансовый и организационный план его реализации, схемы
      мониторинга фактической экономии финансовых и энергетических ресурсов. То есть, технически,
      энергоаудит сегодня должен приводить к созданию энергетической модели, которая учитывает всё
      использование энергии, весь объем затрат и ускоряет окупаемость здания.
    </p>
    <p>
      Это особенно актуально при темпах подорожания энергоносителей. Минимальные программы
      энергосбережения с экономией энергозатрат на 5 - 7% сегодня не интересны собственникам
      предприятий. Необходимы инновационные и эффективные программы, адекватные вызовам нового
      времени. Сейчас наступает время сложных комбинированных решений по модернизации энергетических
      и технологических циклов, время проектов коренной реконструкции.
    </p>
  </main>
</Layout>
