---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import Layout from '@layouts/Base.astro';
import { Header } from '@lib/components/astro';

const collection = await getCollection('partners');

const title = 'Партнёры';
const description = 'Партнёры АО НИЦ «Строительная экспертиза»';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  {description}>
  <Header {title} />

  <main class='frame mt-4 flex flex-wrap justify-around gap-8'>
    {
      collection.map(({ data }) =>
        data.map(({ image: src }) => (
          <Image
            {src}
            width={320}
            alt=''
          />
        ))
      )
    }
  </main>
</Layout>
