---
import Layout from '@layouts/Base.astro';
import { Icon } from '@lib/components/astro';
---

<Layout class='bp:gap-20 gap-10'>
  <header
    class:list={[
      'flex flex-col place-items-center items-center gap-8',
      'bp:grid bp:grid-cols-[5fr_5fr] bp:gap-16'
    ]}>
    <Icon
      icon='rocket-launch'
      class:list={[
        'max-w-3xs h-auto w-full',
        '-rotate-45',
        'hover:animation-paused motion-safe:animate-[wiggle_30s_ease-in-out_infinite]'
      ]}
      gradient={{
        rotate: 45,
        stops: [{ '0%': 'rgb(200 0 0 / .2)' }, { '100%': 'var(--color-amber-500)' }]
      }}
    />
    <img
      class:list={[
        'max-w-3xs w-full',
        'aspect-square object-cover object-top',
        'bg-linear-45 dark:bg-linear-315',
        'from-cyan-500 from-0% to-amber-500 to-100%',
        'rounded-3xl',
        'shadow-primary-300 dark:shadow-primary-700 shadow-lg',
        'bp:aspect-3/4 bp:rounded-5xl'
      ]}
      src='/assets/icons/astro.svg'
      width='128'
      height='128'
      alt=''
    />
  </header>

  <main class='frame flex flex-col'>
    <header>
      <h1 class='text-center'>TEST</h1>
    </header>
  </main>
</Layout>
