---
import { twMerge } from '@lib';
import { Icon } from '@lib/astro';
import { Timer } from '@lib/svelte';
import type { HTMLAttributes } from 'astro/types';

type Props = Omit<HTMLAttributes<'footer'>, 'class'> & {
  class?: ClassValue;
};

const { class: className, ...props } = Astro.props;

// import { nav } from '@app/configs/nav';
// const { outers } = nav.footer ?? {};

const currentYear = new Date().getFullYear();
---

<footer
  class={twMerge(
    'frame-xl',
    'py-5',
    'grid grid-cols-1 items-center justify-center gap-2 sm:grid-cols-3',
    'text-theme-plain text-center text-sm',
    className
  )}
  {...props}>
  <div>
    Designed & Developed with
    <span class='text-nowrap'>
      <a
        class='hover:text-theme-link inline-block'
        href='https://astro.build'
        target='_blank'>
        Astro
        <Icon
          class='inline'
          icon='astro'
          size='1.5em'
        />
      </a>
      &
      <a
        class='hover:text-theme-link'
        href='https://svelte.dev'
        target='_blank'>
        Svelte
        <Icon
          class='inline'
          icon='svelte'
          size='1.4em'
        />
      </a>
    </span>
  </div>

  {
    /*
    outers && (
      <div class='bp:justify-end flex flex-wrap items-center justify-center gap-4'>
        {outers.map(({ class: classValue, ...props }) => (
          <Link
            class:list={['link', classValue]}
            {...props}
          />
        ))}
      </div>
    )
  */
  }

  <Timer client:load />
  <div>&copy; {currentYear} DAKS.DEV</div>
</footer>

<style scoped>
  @reference "@styles/global.css";

  .link {
    @apply text-primary-400 dark:text-primary-400;
    @apply oversee:decoration-current underline decoration-transparent underline-offset-4;
    @apply transition-colors duration-500;
  }
</style>
