---
import { Icon } from '@components/astro';
import { Timer } from '@components/svelte';

// import { nav } from '@app/configs/nav';
// const { outers } = nav.footer ?? {};

const currentYear = new Date().getFullYear();
---

<footer
  class:list={[
    'flex flex-col gap-12 px-8 py-12 bp:flex-row bp:justify-between bp:px-20 bp:py-10',
    'text-center text-sm text-(--color-dark-text)'
  ]}>
  <div class='flex flex-col items-center gap-2 bp:flex-row bp:flex-wrap bp:gap-4'>
    <p>
      Designed & Developed in Moscow with
      <a
        class='link mx-1'
        href='https://astro.build/'
        target='_blank'>
        Astro
      </a>
      <Icon
        class='inline'
        icon='rocket-launch'
        size='1.2em'
      />
    </p>
    <p>&copy; {currentYear} DAKS.DEV</p>
  </div>

  {
    /*
    outers && (
      <div class='bp:justify-end flex flex-wrap items-center justify-center gap-4'>
        {outers.map(({ class: classValue, ...props }) => (
          <Link
            class:list={['link', classValue]}
            {...props}
          />
        ))}
      </div>
    )
  */
  }

  <Timer client:load />
</footer>

<style scoped>
  @reference "@styles/global.css";

  .link {
    @apply text-primary-400 dark:text-primary-400;
    @apply underline decoration-transparent underline-offset-4 oversee:decoration-current;
    @apply transition-colors duration-500;
  }
</style>
