---
import { twMerge } from '@daks.dev/astro.sdk';
import { Icon, Link } from '@daks.dev/astro.sdk/astro';
import { Timer } from '@daks.dev/astro.sdk/svelte';
import type { HTMLAttributes } from 'astro/types';

interface Props extends Omit<HTMLAttributes<'footer'>, 'class'> {
  class?: ClassValue;
}

const { class: className, ...props } = Astro.props;

import { footer } from '@app/configs/nav';

const currentYear = new Date().getFullYear();
---

<footer
  class={twMerge(
    'frame',
    'py-5',
    'flex flex-col gap-y-4',
    'text-sm leading-none text-nowrap',
    className
  )}
  {...props}>
  <div
    class='flex flex-wrap items-center justify-center gap-x-3'
    role='menu'>
    {
      footer.map(({ class: className, role = 'menuitem', ...props }) => (
        <Link
          class:list={['px-3 py-1.5', 'rounded-full', className]}
          {role}
          {...props}
        />
      ))
    }
  </div>

  <div class:list={['grid items-center justify-items-center gap-3', 'sm:grid-cols-3']}>
    <div class='sm:justify-self-start'>
      <a
        href='https://astro.build'
        class='inline-block'
        target='_blank'>
        <Icon
          class='inline'
          icon='astro'
          size='1.5em'
        />
        Astro
      </a>
      <span class='px-2'>&mdash;</span>
      <a
        href='https://svelte.dev'
        target='_blank'>
        <Icon
          class='inline-block'
          icon='svelte'
          size='1.25em'
        />
        Svelte
      </a>
    </div>
    <Timer client:load />
    <span class:list={['sm:justify-self-end', 'text-xs']}>
      &copy; {currentYear} АО НИЦ «Строительная экспертиза»
    </span>
  </div>
</footer>
