---
import { Icon } from '@lib/components/astro';
import { Timer } from '@lib/components/svelte';

// import { nav } from '@app/configs/nav';
// const { outers } = nav.footer ?? {};

const currentYear = new Date().getFullYear();
---

<footer
  class:list={[
    'frame-xl',
    'py-5',
    'grid grid-cols-1 items-center justify-center gap-2 sm:grid-cols-3',
    'text-theme-plain text-center text-sm'
  ]}>
  <div>
    Designed & Developed in Moscow with
    <a
      class='text-impact-accent hover:text-theme-link mx-2 text-nowrap'
      href='https://astro.build/'
      target='_blank'>
      Astro
      <Icon
        class='inline'
        icon='rocket-launch'
        size='1.2em'
      />
    </a>
  </div>

  {
    /*
    outers && (
      <div class='bp:justify-end flex flex-wrap items-center justify-center gap-4'>
        {outers.map(({ class: classValue, ...props }) => (
          <Link
            class:list={['link', classValue]}
            {...props}
          />
        ))}
      </div>
    )
  */
  }

  <Timer client:load />
  <div>&copy; {currentYear} DAKS.DEV</div>
</footer>

<style scoped>
  @reference "@styles/global.css";

  .link {
    @apply text-primary-400 dark:text-primary-400;
    @apply oversee:decoration-current underline decoration-transparent underline-offset-4;
    @apply transition-colors duration-500;
  }
</style>
