---
import Layout from '@layouts/Base.astro';

const title = 'Регламент';
const description =
  'Регламент АО НИЦ «Строительная экспертиза» по организации и проведения негосударственной экспертизы проектной документации и результатов инженерных изысканий';
---

<Layout
  class=''
  title={`${title} • НИЦ «Строительная экспертиза»`}
  {description}>
  <main class='frame pt-(--navbar-height) flex min-h-screen grow'>
    <object
      class:list={[
        'lazy',
        'grow',
        'bg-radial-c',
        'from-neutral-400 to-transparent dark:from-gray-600'
        //'border-2 border-slate-300 dark:border-slate-500'
        //'shadow-md shadow-black hover:shadow-sm dark:shadow-gray-500'
        //'rounded-lg'
      ]}
      type='application/pdf'
      data-src='/docs/regulation.pdf'
      title='Регламент АО НИЦ «Строительная экспертиза»'
      aria-label='регламент'>
      <a
        class:list={[
          'mx-auto self-center',
          'tracking-wide sm:text-base',
          'bg-neutral-300 hover:bg-slate-500 dark:bg-slate-700',
          'button rounded-xs border border-slate-500'
        ]}
        href='/docs/regulation.pdf'
        target='_blank'>
        загрузить
      </a>
    </object>
    <link
      rel='help'
      href='/docs/regulation.pdf'
    />
  </main>
</Layout>
