---
import Layout from '@layouts/Base.astro';

const title = 'Регламент';
const description =
  'Регламент АО НИЦ «Строительная экспертиза» по организации и проведения негосударственной экспертизы проектной документации и результатов инженерных изысканий';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  {description}>
  <main class='frame min-h--screen-navbar pt-(--navbar-height) flex grow flex-col'>
    <object
      class:list={[
        'lazy',
        '',
        'flex grow',
        'bg-radial-c',
        'from-neutral-400 to-transparent',
        'dark:from-gray-600'
      ]}
      type='application/pdf'
      data-src='/docs/regulation.pdf'
      title='Регламент АО НИЦ «Строительная экспертиза»'
      aria-label='регламент'>
      <a
        class:list={[
          'mx-auto self-center',
          'tracking-wide sm:text-base',
          'oversee:bg-slate-500 bg-neutral-300 dark:bg-slate-700',
          'button rounded-xs border border-slate-500'
        ]}
        href='/docs/regulation.pdf'
        target='_blank'>
        загрузить
      </a>
    </object>
    <link
      rel='help'
      href='/docs/regulation.pdf'
    />
  </main>
</Layout>
