---
import Layout from '@layouts/Base.astro';
import { Header } from '@components/astro';

const title = 'Электропрогрев железобетонных конструкций';
const description = 'Электропрогрев железобетонных конструкций';
---

<Layout
  title={`${title} • НИЦ «Строительная экспертиза»`}
  description={`${description} • АО НИЦ «Строительная Экспертиза»`}>
  <Header {title} />

  <main
    class='frame readable'
    itemprop='mainContentOfPage'>
    <p>
      В зимнее и холодное время года, когда средняя суточная температура воздуха меньше +5°С и
      минимальная суточная температура ниже 0°С (СНиП 3.03.01-87 пункт 2.53), для требуемого набора
      прочности железобетонных конструкций, необходимо использовать прогрев бетонируемых сооружений.
      Известны различные способы прогрева железобетонных конструкций, но на строительном рынке как
      самый эффективный, быстрый и экономичный зарекомендовал себя метод электропрогрева. Но, к
      сожалению, строительные компании не дальновидно мало уделяют внимания данному обстоятельству и
      часто полагаются на квалификацию бригадных электриков, которые не способны дать качественного
      экспертного сопровождения прогреваемых конструкций. Электролаборатория АО НИЦ «Строительная
      экспертиза» предлагает качественно пересмотреть и осуществить профессиональную организацию
      работ по внедрению и сопровождению электропрогрева железобетонных конструкций.
    </p>

    <p class='leader'>В состав работ входят:</p>
    <ul>
      <li>Разработка регламента прогрева бетона;</li>
      <li>Моделирование прогрева бетона в расчётной программе;</li>
      <li>Выбор схемы прогрева бетона по расчётным моделям;</li>
      <li>Установка и пуско-наладка трансформаторов прогрева и кабелей высокого напряжения;</li>
      <li>Шеф-монтаж при установке греющих проводов;</li>
      <li>Проведение круглосуточного мониторинга за процессом прогрева бетона;</li>
      <li>
        Мониторинг набора прочности бетона в специализированной программе по фактическим
        температурным данным в теле прогреваемого бетона;
      </li>
      <li>
        Рекомендации о времени отключения прогрева и снятия опалубки прогреваемых конструкций;
      </li>
      <li>
        Рекомендации по уходу за конструкциями после отключения прогрева, после снятия опалубки,
        учитывая режим и условия осуществляемого прогрева;
      </li>
      <li>Оформление температурных листков.</li>
    </ul>
  </main>
</Layout>
